* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.headerIndex {
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.headerIndex div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.headerIndex div .logoIndex {
  padding: 0 3rem 0 4rem;
}
.headerIndex div .eslogan h1 {
  font-family: Titan One;
  color: rgb(51, 44, 40);
  font-size: 3rem;
}
.headerIndex nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  list-style: none;
  text-decoration: none;
  margin: 4rem 4rem;
}
.headerIndex nav ul .ubicacionHeaderIndex {
  padding-top: 0.5rem;
}
.headerIndex nav ul .ubicacionHeaderIndex a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: rgb(51, 44, 40);
}
.headerIndex nav ul .ubicacionHeaderIndex a:hover {
  color: rgb(165, 215, 213);
}

.mainIndex {
  background-color: rgb(165, 215, 213);
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 2;
}
.mainIndex .bloque1 {
  display: flex;
  flex-flow: row nowrap;
  padding: 5rem;
  width: 100%;
  height: 55rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  z-index: 6;
}
.mainIndex .bloque1 img {
  width: 100%;
  max-width: 75rem;
  min-width: 40rem;
}
.mainIndex .bloque1 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque1 div .buttonToSit {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque1 div .buttonToSit a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
.mainIndex .bloque2 {
  display: flex;
  flex-flow: row nowrap;
  padding: 5rem;
  width: 100%;
  height: 55rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  z-index: 6;
}
.mainIndex .bloque2 img {
  width: 100%;
  max-width: 70rem;
  min-width: 40rem;
}
.mainIndex .bloque2 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque2 div .buttonToGo {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque2 div .buttonToGo a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
.mainIndex .bloque3 {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  padding: 5rem;
  width: 100%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  margin-bottom: 6rem;
  margin-top: 6rem;
  z-index: 6;
}
.mainIndex .bloque3 img {
  padding-top: -5rem;
  width: 100%;
  max-width: 75rem;
  min-width: 40rem;
}
.mainIndex .bloque3 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque3 div .buttonNovedades {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque3 div .buttonNovedades a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.mainIndex .medioCirculo {
  display: none;
}

header {
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
header div:first-child {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  margin-left: 3rem;
}
header div:first-child .eslogan {
  font-family: Titan One;
  color: rgb(51, 44, 40);
  font-size: 1.5rem;
  padding-left: 2rem;
}
header div:first-child .logoMimis img {
  width: 100%;
  max-width: 17.2rem;
  min-width: 12rem;
}
header .menuHamburguesa {
  display: none;
}
header .navHeaderGenerico {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 5rem;
}
header .navHeaderGenerico nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 1rem 0 2rem;
  gap: 1.5rem;
}
header .navHeaderGenerico nav ul li {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  color: rgb(51, 44, 40);
}
header .navHeaderGenerico nav ul li a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: rgb(51, 44, 40);
  flex-wrap: nowrap;
}
header .navHeaderGenerico nav ul li a:hover {
  color: rgb(165, 215, 213);
}

.lineaEncabezado {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.lineaEncabezado hr {
  border-style: none;
  background-color: rgb(51, 44, 40);
  height: 1px;
  width: 93%;
}

.lineaIndex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.lineaIndex hr {
  position: absolute;
  z-index: 4;
  border-style: none;
  background-color: white;
  height: 1.1px;
  width: 93%;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
main .galeriaToSit {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 5rem 5rem 5rem 8rem;
  gap: 1rem;
}
main .contenedorInfoToSit {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 65rem;
  justify-content: space-between;
  align-items: center;
  margin-right: 20rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
main .contenedorInfoToSit .infoToSit {
  width: 100%;
}
main .contenedorInfoToSit .infoToSit div .logoToSit {
  margin-bottom: 3rem;
}
main .contenedorInfoToSit .infoToSit div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 100%;
}
main .contenedorInfoToSit .qrToSit {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3rem;
}
main .contenedorInfoToSit .qrToSit div .qr {
  width: 100%;
  min-width: 15rem;
  max-width: 18.5rem;
}
main .contenedorInfoToSit .qrToSit div h3 {
  font-family: Poppins extrabold;
  font-size: 1.8rem;
  padding-left: 3rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
main .galeriaToGo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 5rem 8rem 5rem 5rem;
  gap: 1rem;
}
main .contenedorInfoToGo {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 65rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
main .contenedorInfoToGo .infoToGo {
  width: 100%;
}
main .contenedorInfoToGo .infoToGo div .logoToGo {
  margin-bottom: 3rem;
}
main .contenedorInfoToGo .infoToGo div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 100%;
}
main .contenedorInfoToGo .qrToGo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3rem;
}
main .contenedorInfoToGo .qrToGo div .qr {
  width: 100%;
  min-width: 15rem;
  max-width: 18.5rem;
}
main .contenedorInfoToGo .qrToGo div h3 {
  font-family: Poppins extrabold;
  font-size: 1.8rem;
  padding-left: 3rem;
}

body .gridUbicacion {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 27rem 1027px 25rem;
  grid-template-areas: "headerGenerico" "mainUbicacion" "footerUbicacion";
}
body .gridUbicacion .headerGenerico {
  grid-area: headerGenerico;
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
body .gridUbicacion .mainUbicacion {
  grid-area: mainUbicacion;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0 0 0;
}
body .gridUbicacion .mainUbicacion .lineaEncabezadoGrid {
  grid-area: lineaEncabezadoGrid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  position: relative;
  top: -2rem;
  padding-right: 5rem;
  padding-left: 5rem;
}
body .gridUbicacion .mainUbicacion .lineaEncabezadoGrid .lineaEncabezadoGrid hr {
  border-style: none;
  background-color: rgb(51, 44, 40);
  height: 1px;
  align-self: center;
}
body .gridUbicacion .mainUbicacion .ubicacion {
  grid-area: ubicacion;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 8rem 0 0 8rem;
  width: 47rem;
}
body .gridUbicacion .mainUbicacion .ubicacion .h2ubicacion {
  font-family: Titan One;
  font-size: 3rem;
  color: rgb(51, 44, 40);
}
body .gridUbicacion .mainUbicacion .ubicacion .textoUbicacion {
  padding-top: 1rem;
  width: 47rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
}
body .gridUbicacion .mainUbicacion .horarios {
  grid-area: horarios;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
body .gridUbicacion .mainUbicacion .mapa {
  grid-area: mapa;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 8rem 0 8rem 0;
}
body .gridUbicacion .mainUbicacion .horarios {
  width: 40rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  padding-left: 8rem;
  line-height: 4rem;
}
body .gridUbicacion .mainUbicacion .horarios div ul {
  list-style: none;
}
body .gridUbicacion .mainUbicacion .horarios div h4 {
  font-family: Poppins extrabold;
  font-size: 1.4rem;
}
body .gridUbicacion .footerUbicacion {
  grid-area: footerUbicacion;
}

.mainNovedades div img {
  padding-top: 5rem;
  width: 100%;
  max-width: 134rem;
}
.mainNovedades div h2 {
  font-family: Titan One;
  font-size: 4rem;
  line-height: 4rem;
  padding-left: 3rem;
  padding-top: 8rem;
}
.mainNovedades div p {
  max-width: 100%;
  width: 40rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  padding-top: 3rem;
  padding-left: 3rem;
}
.mainNovedades .fondoDeColorFormulario {
  margin-top: 5rem;
  background-color: rgb(165, 215, 213);
  height: 45rem;
}
.mainNovedades .fondoDeColorFormulario div {
  margin-right: 3rem;
}
.mainNovedades .fondoDeColorFormulario div h2 {
  font-family: Titan One;
  font-size: 4.5rem;
  color: rgb(51, 44, 40);
  padding: 0;
}
.mainNovedades .fondoDeColorFormulario div div p {
  width: 35rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-right: 5rem;
  padding: 0;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-right: 5rem;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar input {
  width: 29rem;
  border: none;
  box-decoration-break: clone;
  border-bottom: 1px solid rgb(51, 44, 40);
  outline: 0;
  background-color: rgb(165, 215, 213);
  font-family: Poppins regular;
  font-size: 2rem;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar .submitNovedades button {
  margin-top: 2rem;
  font-family: Titan One;
  font-size: 1.9rem;
  width: 23.5rem;
  height: 4rem;
  border-style: none;
  background-color: rgb(51, 44, 40);
  border-radius: 4rem;
  color: white;
  cursor: pointer;
}

footer div div nav ul {
  padding-left: 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 25rem;
  background-color: rgb(51, 44, 40);
  position: relative;
  z-index: 4;
}
footer .navLogosDirecc {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  margin-left: 5rem;
  gap: 2rem;
}
footer .navLogosDirecc div:nth-child(3) p {
  color: white;
  font-family: Poppins regular;
  font-size: 1.8rem;
}
footer .navLogosDirecc nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}
footer .navLogosDirecc nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Poppins regular;
  font-size: 1.5rem;
}
footer .redesSociales {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}

@media (max-width: 1200px) {
  header div:first-child {
    margin-left: 2rem;
  }
  header div:first-child .eslogan {
    padding-left: 1rem;
  }
  header .menuHamburguesa {
    display: flex;
    margin: 0 5rem 0 5rem;
  }
  header .navHeaderGenerico {
    display: none;
  }
  /* *****************TO SIT**************************** */
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToSit {
    justify-content: center;
    margin: 5rem 2rem 0 2rem;
  }
  main .galeriaToSit div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 50rem;
  }
  main .contenedorInfoToSit {
    margin-right: 0;
    margin-top: 5rem;
    width: 75%;
    margin-bottom: 0;
  }
  main .contenedorInfoToSit .infoToSit {
    justify-content: center;
  }
  /* *****************TO GO**************************** */
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToGo {
    justify-content: center;
    margin: 5rem 2rem 0 2rem;
  }
  main .galeriaToGo div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 50rem;
  }
  main .contenedorInfoToGo {
    margin-left: 0;
    margin-top: 5rem;
    width: 75%;
    margin-bottom: 0;
  }
  main .contenedorInfoToGo .infoToGo {
    justify-content: center;
  }
  /* *****************BOOTSTRAP**************************** */
  .mainNovedades {
    padding: 0;
  }
  .mainNovedades div div h2 {
    padding-top: 2rem;
  }
  .mainNovedades .fondoDeColorFormulario div .datosAllenar {
    margin-right: 0;
  }
  /* *****************FOOTER**************************** */
  footer {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
  }
  footer .navLogosDirecc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
    margin-left: 0;
  }
  footer .navLogosDirecc div p {
    text-align: center;
  }
  footer .redesSociales {
    margin-right: 0;
  }
  .mainIndex {
    height: auto;
  }
  .mainIndex section {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .mainIndex {
    background-color: rgb(165, 215, 213);
    display: flex;
    flex-flow: column wrap;
    position: relative;
    z-index: 2;
  }
  .mainIndex .bloque1 {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque1 img {
    width: 100%;
    max-width: 70rem;
    min-width: 30rem;
  }
  .mainIndex .bloque1 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
  }
  .mainIndex .bloque1 div .buttonToSit {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque1 div .buttonToSit a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .bloque2 {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque2 img {
    position: relative;
    top: -5rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque2 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque2 div .buttonToGo {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque2 div .buttonToGo a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .bloque3 {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 5rem 0 25rem 0;
    width: 100%;
    height: 60rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque3 img {
    padding-top: -10rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque3 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque3 div .buttonNovedades {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque3 div .buttonNovedades a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToSit {
    width: 100%;
    max-width: 69rem;
    min-width: 50rem;
    justify-content: center;
    margin: 5rem 0 0 0;
  }
  main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToGo {
    width: 100%;
    max-width: 69rem;
    min-width: 50rem;
    justify-content: center;
    margin: 5rem 0 0 0;
  }
}
@media (max-width: 576px) {
  header div:first-child .eslogan {
    display: none;
  }
  header .menuHamburguesa {
    margin: 4rem;
  }
  /* ***************************TO SIT***************************** */
  main .galeriaToSit {
    margin-top: 4rem;
    gap: 0.5rem;
    width: 100%;
    max-width: 63rem;
    min-width: 12rem;
  }
  main .galeriaToSit div img {
    width: 100%;
    max-width: 2.2rem;
    min-width: 1rem;
  }
  main .galeriaToSit div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 20rem;
  }
  main .contenedorInfoToSit {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToSit .infoToSit {
    justify-content: center;
    width: 22rem;
  }
  main .contenedorInfoToSit .infoToSit div img {
    width: 85%;
  }
  main .contenedorInfoToSit .infoToSit .qrToSit {
    display: flex;
    flex-flow: column nowrap;
  }
  /* ***************************TO GO***************************** */
  main .galeriaToGo {
    margin-top: 4rem;
    gap: 0.5rem;
    width: 100%;
    max-width: 63rem;
    min-width: 12rem;
  }
  main .galeriaToGo div img {
    width: 100%;
    max-width: 2.2rem;
    min-width: 1rem;
  }
  main .galeriaToGo div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 20rem;
  }
  main .contenedorInfoToGo {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToGo .infoToGo {
    justify-content: center;
    width: 22rem;
  }
  main .contenedorInfoToGo .infoToGo div img {
    width: 85%;
  }
  main .contenedorInfoToGo .infoToGo .qrToGo {
    display: flex;
    flex-flow: column nowrap;
  }
  /* ***************************FOOTER***************************** */
  footer {
    height: 38rem;
  }
  footer .navLogosDirecc {
    padding-top: 2rem;
  }
  footer .navLogosDirecc div {
    display: flex;
    flex-flow: none none;
    justify-content: center;
  }
  footer .navLogosDirecc div img {
    width: 80%;
  }
  footer .navLogosDirecc div:nth-child(3) p {
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
  }
  footer nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  footer nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
  }
  footer .redesSociales {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-right: 0rem;
  }
  /* ***************************MAIN INDEX***************************** */
  .mainIndex {
    width: 100%;
  }
  .mainIndex .bloque3 {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 2rem;
    width: 100%;
    height: 50rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque3 img {
    position: relative;
    top: -5rem;
    width: 100%;
    max-width: 70rem;
    min-width: 20rem;
  }
  .mainIndex .bloque3 div p {
    position: relative;
    top: -5rem;
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 15rem;
  }
  .mainIndex .bloque3 div .buttonNovedades {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    position: relative;
    top: -5rem;
  }
  .mainIndex .bloque3 div .buttonNovedades a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
}
.mainNovedades .fondoDeColorFormulario div {
  width: 27rem;
}

/*# sourceMappingURL=estilos.css.map */
