* {
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}
html{
    font-size: 62.5%;
}

/***********************INDEX***********************************/

/**********************HEADER :P*********************************/

.headerIndex{
    width: 100%;
    height: 27rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;    
    justify-items: center;
    align-items: center;
}
.eslogan{
    display: flex;
    flex-flow: row wrap;
}
.logoIndex{
    padding: 0 3rem 0 8rem;
}
h1{
    font-family: Titan One;
    color:rgba(51, 44, 40, 1);
    font-size: 4rem;
    padding-top: 2rem;
}
.navegadorHeaderIndex{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    position: absolute;
    right: 4rem;
}
.ubicacionHeaderIndex{
    padding-top: 0.5rem;
}
.ubicacionHeaderIndex a{
    font-size: 1.8rem;
    font-family: poppins semibold;
    text-decoration:none;
    color: rgba(51, 44, 40, 1);
    }
a:hover{
    color: rgba(165, 215, 213, 1)
}

/**********************MAIN :D*********************************/

.main{
    width: 100%;
    background-color: rgba(165, 215, 213, 1);
    display: flex;
    flex-flow: column wrap;
}
.medioCirculo{
    padding-top: 3rem;
    display: flex;
    position: absolute;
    z-index: 0;
}
.bloque1{
    width: 100%;
    height:55rem;
    display: flex;
    flex-flow: row wrap;
    z-index: 4;  
    justify-content: center;
    align-content: center; 
}
.section1 {
    padding: 2rem 0 0 2rem;
    display: flex;
    flex-flow: row wrap;    
    align-items: center;
}
.textoSection1{
    font-family: Poppins regular;
    font-size: 2rem;
    width: 37rem;
    padding-top: 4rem;
    }

.infoSection1{
    padding-left: 6rem;
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
}
.buttonToSit{
    width: 25rem;
    height: 5rem;
    background-color:rgba(51, 44, 40, 1);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
}
.buttonToSit a{
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.lineaIndex{
    display: flex;
    flex-flow: column wrap;
    gap: 0px;
    z-index: 2;
}
.lineaIndex hr{
    border-style: none;
    background-color: white;
    height: 2px;
    width: 93%;
    align-self: center;
}
.bloque2{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-flow: row wrap; 
    align-content: center;   
    z-index: 4;
    justify-content: center;
}
.section2 {
    display: flex;
    flex-flow: row wrap;  
}
.textoSection2{
    font-family: Poppins regular;
    font-size: 2rem;
    width: 37rem;
    padding-top: 4rem;
}
.imgSection2{
    position: relative;
    top: -4rem;
}
.infoSection2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 3rem;
    padding-right: 4rem;
}
.buttonToGo{
    width: 25rem;
    height: 5rem;
    background-color:rgba(51, 44, 40, 1);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
}
.buttonToGo a{
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.bloque3{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    z-index: 4;
}
.section3 {
    width: 58%;
    height: 37rem;
    border-radius: 4rem;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.textoSection3{
    font-family: Poppins regular;
    font-size: 2rem;
    width: 37rem;
    padding-top: 4rem;
}    
.imgSection3{
    padding-left: 4rem;
    position: relative;
    top: -2rem;
    left: -4rem;
}
.infoSection3{
    padding-left: 4rem;
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
}
.buttonNovedades{
    width: 25rem;
    height: 5rem;
    background-color:rgba(51, 44, 40, 1);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
}
.buttonNovedades a{
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}


/**********************FOOTER:D*********************************/

footer{
    width: 100%;
    height: 25rem;
    background-color: rgba(51, 44, 40, 1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    z-index: 4;

}
.navLogosDirecc{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2rem;
    padding-left: 8rem;       
  }
.navFooter{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}
.navFooter a{
    text-decoration: none;
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
}
.navLogosDirecc div p{
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
  }
.redesSociales{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-right: 8rem;
}
.TripAdvisor{
    padding-bottom: 2rem;
}
/***********************TO SIT***********************************/

/**********************HEADER :D GENERICO*********************************/
    .bodyToSit{
    width: 100%;
    height: auto;
}
.headerGenerico{    
    width: 100%;
    height: 30rem;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}
.menuHamburguesa{
    display: none;
}
.logoEslogan{
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    align-items: center;
}
.logoEslogan{
    padding-left: 8rem;
    padding-bottom: 4rem;
}
.eslogan h1{
    display: flex;
    padding-left: 2rem;
    padding-top: 3rem;
    font-size: 3rem;
}
.navHeaderGenerico{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 1.5rem;
    padding-right: 8rem;
}
.navPaginas{
    display: flex;
    flex-flow: row wrap; 
    list-style: none; 
    gap: 1.5rem;
    padding-top: 0.5rem;      
}
.navPaginas a{
    font-size: 1.8rem;
    font-family: Poppins semibold;
    text-decoration: none;
    color:rgba(51, 44, 40, 1);
}
.navPaginas a:hover{
    color: rgba(165, 215, 213, 1)
}
.navBanderitas{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 1.5rem;
}
.lineaEncabezado{    
    display: flex;
    flex-flow: column wrap;
    position: relative;
    top: -1rem;
}
.lineaEncabezado hr{
    border-style: none;
    background-color: rgba(51, 44, 40, 1);
    height: 1px;
    width: 93%;
    align-self: center;
}

/**********************MAIN :D TO SIT*********************************/

.mainToSit{
    width: 100%;
    height: auto;
    display: flex;
}
.galeriaImgToSit{
    width: auto;
    display: flex;
    flex-flow: row wrap;
    padding-left: 8rem;
    align-items: center;
    padding:7.5rem;
    gap: 15px;
}
.infoToSit{
    display: flex;
    flex-flow: column wrap;
    width: 55rem;
    justify-content: space-between;
    padding-top: 8rem;
    padding-left: 8rem;
}
.infoToSit div p{
    font-family:'poppins regular';
    font-size: 1.9rem;    
    padding-right: 4rem; 
    margin-top: 5rem;
}
.descargaMenuToSit h3{
    font-family:Poppins extrabold;
    font-size: 2rem;   
    padding-left: 2rem;
}
.qrToSit{    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 8rem;
}

    /************* media querieeee TO SIT***************************/

    /****************1400px*******************************/

    @media(max-width:1400px){
        .navHeaderGenerico{
            display: none;
        }
        .headerGenerico{ 
            display: flex;
            flex-flow: row wrap; 
            width: auto;
            height: auto;           
        }
        .menuHamburguesa{
            display:flex;
            padding-right: 8rem;
            padding-top: 4rem;
        }
        .lineaEncabezado{    
            top: 0rem;
        }
        .logoEslogan{
            padding-left: 3rem;
            padding-bottom: 0rem;
        }
        
        .mainToSit{
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;         
        }
        .galeriaImgToSit{
            width: 100%;
            display: flex;
            flex-flow: row wrap;                       
            gap: 15px; 
            padding:8rem 0 8rem 0; 
            justify-content: center;          
        }
        .infoToSit{
            display: flex;
            flex-flow: column wrap;
            width: auto;
            padding-top: 0; 
        }
        .infoToSit div p{
            font-family:Poppins regular;
            font-size: 2rem;  
            margin-top: 2rem;
            width: 50rem;            
        }
        .descargaMenuToSit h3{
            font-family:Poppins extrabold;
            font-size: 1.8rem; 
            padding-left: 2rem;                 
        }
        .qrToSit{
            width: auto;    
            display: flex;
            flex-flow: row wrap;
            margin-top: 4rem;       
        }
    
    }

      /****************1200px*******************************/


        @media(max-width:1200px){
            .navHeaderGenerico{
            display: none;
        }
        .headerGenerico{ 
            display: flex;            
            width: 100%;
            padding-top: 2rem;
        }
        .logoEslogan{
            padding-left: 0;
            padding-bottom: 0;
            padding-top: 2rem;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        .menuHamburguesa{
            display:flex;
            width: 100%;
            justify-content: center;
            padding: 0 0 3rem 0;
        }
        .lineaEncabezado{    
            display: flex;
            flex-flow: column wrap;
            position: relative;
        }
        .lineaEncabezado hr{
            border-style: none;
            background-color: rgba(51, 44, 40, 1);
            height: 1px;
            width: 85%;
            align-self: center;
        }   
        .eslogan h1{
            font-size: 3rem;
            padding-top: 0;
        }           
            footer{
            width: 100%;
            height: 35rem;
            background-color: rgba(51, 44, 40, 1);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center; 
            padding-top: 2.5rem;
            align-content:center;
            align-items: center;
            
        }
            .navLogosDirecc{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding-left: 0px;              
        }
            .navFooter{
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            gap: 1.5rem;
        }
            .navFooter a{
            text-decoration: none;
            color: white;
            font-family: Poppins regular;
        }
            .navLogosDirecc div p{
            color: white;
            font-family: Poppins regular;
            text-align: center;
            font-size: 1.6rem;
        }
            .redesSociales{
            display: flex;
            flex-flow: row wrap;
            padding-bottom: 0;
            padding-right: 0;           
        }
            .TripAdvisor{
            padding-bottom: 0;
            padding-right: 0;
        }
    }

/****************768px*******************************/

        @media(max-width:768px){
            .headerGenerico{ 
                display: flex;
                flex-direction: column;            
                width: 100%;
                height: auto;
                padding-top: 2rem;
            }
                .menuHamburguesa{
                display:flex;
                width: 100%;
                justify-content: center;
                padding: 3rem 0 5rem 0;
            }
            .lineaEncabezado{    
                display: flex;
                flex-flow: column wrap;
                padding-top: 12rem;
            }
            .lineaEncabezado hr{
                border-style: none;
                background-color: rgba(51, 44, 40, 1);
                height: 1px;
                width: 85%;
                align-self: center;
            }   
                .eslogan h1{
                font-size: 3.8rem;
                padding-top: 2rem;
                text-align: center;
            }
            .contenedorInfoToSit{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .galeriaImgToSit{
            width: 100%;
            display:flex;
            flex-flow: row nowrap;                  
            gap: 1.5rem; 
            padding: 8rem 0 8rem 0; 
            justify-content: center;          
        }
            .galeriaResponsive{
            width: 100%;
            height:auto;
            display:flex;            
        }
            .toSitResponsive{
                width: auto;
                height: auto;
                display:flex;            
            } 
            .infoToSit{
            display: flex;
            flex-flow: column wrap;
            max-width: 100%;
            width: 40rem;
            padding-top: 0; 
            align-content: center;
        }   
            .infoToSit div p{
            max-width: 100%;
            width: 30rem;  
        }

            .infoToSit div p{
            width: auto;
        }

    }




/***********************TO GO***********************************/

/**********************MAIN :D*********************************/

.mainToGo{
    width: 100%;
    display: flex;
    padding-left: 5rem;
}
.galeriaImgToGo{
    width: 85rem;
    display: flex;
    flex-flow: row wrap;
    padding-left: 8rem;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    gap: 15px;
}
.infoToGo{
    display: flex;
    flex-flow: column wrap;
    width: 55rem;
    justify-content: space-between;
    padding-top: 8rem;
    padding-left: 8rem;
}
.infoToGo div p{
    font-family:'poppins regular';
    font-size: 1.9rem;    
    padding-right: 4rem; 
    margin-top: -5rem;  
}
.descargaMenuToGo h3{
    font-family:Poppins extrabold;
    font-size: 2rem;   
    padding-left: 2rem;
}
.qrToGo{    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 8rem;
}

/***********************NOVEDADES***********************************/

/**********************BOOTSTRAP*********************************/


.fondoDeColorFormulario{
    background-color:rgba(165, 215, 213, 1);
}
.formulario div h2{
    font-family: Titan One;
    font-size: 2.5rem;
    color: rgba(51, 44, 40, 1);
}
.textoFormulario{
    width: 296px;
    font-family: Poppins regular;
    font-size: 1.2rem;
}
.datosAllenar{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-family: Poppins regular;
    font-size: 1.2rem;
    gap: 0.8rem;
}
.datosAllenar input{
    width: 290px;
    border:none;
    box-decoration-break: clone;
    border-bottom:1px solid rgba(51, 44, 40, 1);
    outline: 0;
    background-color: white;
    font-family: Poppins regular;
    font-size: 1rem;
    }
.submitNovedades button{
    margin-top: 2rem;
    font-family: Titan One;
    font-size: 1.1rem;
    width: 235px;
    height: 3rem;
    border-style: none;
    background-color: rgba(51, 44, 40, 1);
    border-radius: 4rem;
    color: white;
    cursor: pointer;
}
.wafleMeUp{
    font-family: Titan One;
    font-size: 4rem;
    line-height: 4rem;
    padding-left: 3rem;
    padding-top: 8rem;
}
.detalleNovedades1{
    max-width: 100%;
    width: 35rem;   
    font-family: Poppins regular;
    font-size: 1.8rem;
    padding-top: 3rem; 
    padding-left: 3rem;
}
.imagenNovedades1{
    padding-top: 3rem;
    width: 100%;
    max-width: 134rem; 
}
.batidos{
    font-family: Titan One;
    font-size: 4rem;
    line-height: 4rem;
    padding-top: 8rem;
    padding-right: 3rem;
    text-align: right;
}
.detalleNovedades2{        
    max-width: 100%;
    width: 35rem;   
    font-family: Poppins regular;
    font-size: 1.8rem;
    padding-top: 3rem;
    text-align: right;
    margin-block-end:0;
}    
.imagenNovedades2{
    width: 100%;
    max-width: 134rem; 
}
.croissant{
    font-family: Titan One;
    font-size: 4rem;
    line-height: 4rem;
    padding-left: 3rem;
    padding-top: 8rem;
}
.detalleNovedades3{
    max-width: 100%;
    width: 35rem;   
    font-family: Poppins regular;
    font-size: 1.8rem;
    padding-top: 3rem; 
    padding-left: 3rem;
}
.imagenNovedades3{
    width: 100%;
    max-width: 134rem; 
}
.lotus{
    font-family: Titan One;
    font-size: 4rem;
    line-height: 4rem;
    padding-top: 8rem;
    padding-right: 3rem;
    text-align: right;
    }
.detalleNovedades4{        
    max-width: 100%;
    width: 35rem;   
    font-family: Poppins regular;
    font-size: 1.8rem;
    padding-top: 3rem;
    text-align: right; 
}
.imagenNovedades4{
    width: 100%;
    max-width: 134rem; 
}


 /************************************ UBICACION ;D ********************************************************/

    .gridUbicacion{
    display: grid;
    width: 100%;
    height: 100vh;      
    grid-template-columns: 1fr;
    grid-template-rows: 27rem 1027px 25rem;
    grid-template-areas: 
    "headerGenerico"
    "mainUbicacion"   
    "footerUbicacion";}

    .headerGenerico{
        grid-area: headerGenerico;
        width: 100%;
        height: 27rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;        
    }
    .mainUbicacion{
        grid-area: mainUbicacion;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        gap: 1.5rem;
        padding: 2rem 0 0 0;    
    }
    .ubicacion{
        grid-area: ubicacion;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 8rem 0 0 8rem;
        width: 47rem;
    }
    .textoUbicacion{
        padding-top: 1rem;
        width: 47rem;
        font-family: Poppins regular;
        font-size: 1.8rem;
    }
    .horarios{
        grid-area: horarios;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;        
    }
    .mapa{
        grid-area: mapa;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 8rem 0 8rem 0;  
    }
    .h2ubicacion{
        font-family: Titan One;
        font-size: 3rem;
        color: rgba(51, 44, 40, 1);
    }
    .lineaEncabezadoGrid{ 
        grid-area: lineaEncabezadoGrid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;   
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        position: relative;
        top: -3rem;
    }
    .lineaEncabezadoGrid hr{
        border-style: none;
        background-color: rgba(51, 44, 40, 1);
        height: 1px;
        width: 93%;
        align-self: center;
    }
    .horarios{
        width:40rem;
        font-family: Poppins regular;
        font-size: 1.8rem;
        padding-left: 8rem;
        line-height: 4rem;
    }
    .horarios div ul{
        list-style: none;
    }
    .horarios div h4{
        font-family: Poppins extrabold;
        font-size: 1.4rem;
    }
    .footerUbicacion{
        grid-area: footerUbicacion;            
    }


