* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.headerIndex {
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.headerIndex .menuHamburguesa {
  display: none;
}
.headerIndex div:first-child {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  margin-left: 3rem;
}
.headerIndex div:first-child .eslogan h1 {
  font-family: Titan One;
  color: rgb(51, 44, 40);
  font-size: 3.3rem;
  padding-left: 2rem;
}
.headerIndex div:first-child .logoMimis img {
  width: 100%;
  max-width: 17.2rem;
  min-width: 15rem;
  transition: 0.5s;
}
.headerIndex div:first-child .logoMimis img:hover {
  cursor: pointer;
  scale: 110%;
  rotate: 5deg;
}
.headerIndex .navHeaderGenerico {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 5rem;
}
.headerIndex .navHeaderGenerico nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 1rem 0 2rem;
  gap: 1.5rem;
}
.headerIndex .navHeaderGenerico nav ul li {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  color: rgb(51, 44, 40);
}
.headerIndex .navHeaderGenerico nav ul li a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: rgb(51, 44, 40);
  flex-wrap: nowrap;
}
.headerIndex .navHeaderGenerico nav ul li a:hover {
  color: rgb(165, 215, 213);
}

.mainIndex {
  background-color: rgb(165, 215, 213);
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  z-index: 2;
}
.mainIndex .bloque1 {
  display: flex;
  flex-flow: row nowrap;
  padding: 5rem;
  width: 100%;
  height: 55rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  z-index: 6;
}
.mainIndex .bloque1 img {
  order: 1;
  width: 100%;
  max-width: 75rem;
  min-width: 40rem;
  transition: transform 0.3s ease-in-out;
}
.mainIndex .bloque1 div {
  order: 2;
}
.mainIndex .bloque1 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque1 div .buttonToSit {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque1 div .buttonToSit a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
.mainIndex .bloque1 div .buttonToSit .buttonToSit:hover + .imgIndexToSit {
  transform: scale(1.1);
}
.mainIndex .lineaIndex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 61rem;
  z-index: 4;
  background-color: white;
  height: 2px;
  margin: 0;
  width: 93%;
}
.mainIndex .bloque2 {
  display: flex;
  flex-flow: row nowrap;
  padding: 5rem;
  width: 100%;
  height: 55rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  z-index: 6;
}
.mainIndex .bloque2 img {
  width: 100%;
  max-width: 70rem;
  min-width: 40rem;
}
.mainIndex .bloque2 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque2 div .buttonToGo {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque2 div .buttonToGo a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}
.mainIndex .lineaIndex2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110rem;
  z-index: 4;
  background-color: white;
  height: 2px;
  margin: 0;
  width: 93%;
}
.mainIndex .bloque3 {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  border-radius: 5rem;
  padding: 5rem;
  width: 93%;
  height: 30rem;
  gap: 4rem;
  position: relative;
  margin-bottom: 10rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.mainIndex .bloque3 img {
  padding-top: -5rem;
  width: 100%;
  max-width: 75rem;
  min-width: 40rem;
}
.mainIndex .bloque3 div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  width: 100%;
  max-width: 45rem;
}
.mainIndex .bloque3 div .buttonNovedades {
  width: 25rem;
  height: 5rem;
  background-color: rgb(51, 44, 40);
  text-align: center;
  align-items: center;
  border-radius: 3rem;
  border-style: none;
  margin-top: 3rem;
}
.mainIndex .bloque3 div .buttonNovedades a {
  font-family: Titan One;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.mainIndex .medioCirculo {
  display: none;
}

.headerGenerico {
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.headerGenerico div:first-child {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  margin-left: 3rem;
}
.headerGenerico div:first-child .eslogan {
  font-family: Titan One;
  color: rgb(51, 44, 40);
  padding-left: 2rem;
}
.headerGenerico div:first-child .eslogan h1 {
  font-size: 3.3rem;
}
.headerGenerico div:first-child .logoMimis img {
  width: 100%;
  max-width: 17.2rem;
  min-width: 15rem;
  transition: 0.5s;
}
.headerGenerico div:first-child .logoMimis img:hover {
  cursor: pointer;
  scale: 110%;
  rotate: 5deg;
}
.headerGenerico .menuHamburguesa {
  display: none;
}
.headerGenerico .navHeaderGenerico {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 5rem;
}
.headerGenerico .navHeaderGenerico nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 1rem 0 2rem;
  gap: 1.5rem;
}
.headerGenerico .navHeaderGenerico nav ul li {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  color: rgb(51, 44, 40);
}
.headerGenerico .navHeaderGenerico nav ul li a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: rgb(51, 44, 40);
  flex-wrap: nowrap;
}
.headerGenerico .navHeaderGenerico nav ul li a:hover {
  color: rgb(165, 215, 213);
}

.lineaEncabezado {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(51, 44, 40);
  height: 1px;
  width: 93%;
}

.lineaIndex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65rem;
  z-index: 4;
  background-color: white;
  height: 2px;
  margin: 0;
  width: 93%;
}

.lineaIndex2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110rem;
  z-index: 4;
  background-color: white;
  height: 2px;
  margin: 0;
  width: 93%;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
main .galeriaToSit {
  max-width: 62.8rem;
  min-width: 30rem;
  height: 100%;
  margin: 5rem;
  overflow: hidden;
  display: block;
}
main .galeriaToSit .hijoGaleriaToSit {
  display: flex;
  padding: 0;
  animation: cambio 10s infinite alternate linear;
  width: 500%;
}
main .galeriaToSit .hijoGaleriaToSit li {
  width: 100%;
  list-style: none;
}
main .galeriaToSit .hijoGaleriaToSit li img {
  width: 62.8rem;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  45% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  65% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  85% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

.contenedorInfoToSit {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 65rem;
  justify-content: space-between;
  align-items: center;
  margin-right: 15rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.contenedorInfoToSit .infoToSit {
  width: 100%;
}
.contenedorInfoToSit .infoToSit div .logoToSit {
  margin-bottom: 3rem;
}
.contenedorInfoToSit .infoToSit div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 100%;
}
.contenedorInfoToSit .qrToSit {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3rem;
}
.contenedorInfoToSit .qrToSit div .qr {
  width: 100%;
  min-width: 15rem;
  max-width: 18.5rem;
}
.contenedorInfoToSit .qrToSit div h3 {
  font-family: Poppins extrabold;
  font-size: 1.8rem;
  padding-left: 3rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
main .galeriaToGo {
  max-width: 62.8rem;
  min-width: 30rem;
  height: 100%;
  margin: 5rem;
  overflow: hidden;
  display: block;
}
main .galeriaToGo .hijoGaleriaToGo {
  display: flex;
  padding: 0;
  animation: cambio 10s infinite alternate linear;
  width: 500%;
}
main .galeriaToGo .hijoGaleriaToGo li {
  width: 100%;
  list-style: none;
}
main .galeriaToGo .hijoGaleriaToGo li img {
  width: 62.8rem;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  45% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  65% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  85% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

.contenedorInfoToGo {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 65rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 15rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.contenedorInfoToGo .infoToGo {
  width: 100%;
}
.contenedorInfoToGo .infoToGo div .logoToGo {
  margin-bottom: 3rem;
}
.contenedorInfoToGo .infoToGo div p {
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-bottom: 5rem;
  width: 100%;
}
.contenedorInfoToGo .qrToGo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3rem;
}
.contenedorInfoToGo .qrToGo div .qr {
  width: 100%;
  min-width: 15rem;
  max-width: 18.5rem;
}
.contenedorInfoToGo .qrToGo div h3 {
  font-family: Poppins extrabold;
  font-size: 1.8rem;
  padding-left: 3rem;
}

body .gridUbicacion {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 27rem 1027px 25rem;
  grid-template-areas: "headerGenerico" "mainUbicacion" "footerUbicacion";
}
body .gridUbicacion .headerGenerico {
  grid-area: headerGenerico;
  width: 100%;
  height: 27rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
body .gridUbicacion .mainUbicacion {
  grid-area: mainUbicacion;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}
body .gridUbicacion .mainUbicacion .lineaEncabezadoGrid {
  grid-area: lineaEncabezadoGrid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 44, 40);
  height: 1px;
  width: 93%;
  margin: 0 auto;
}
body .gridUbicacion .mainUbicacion .ubicacion {
  grid-area: ubicacion;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 8rem 0 0 0;
  width: 100%;
}
body .gridUbicacion .mainUbicacion .ubicacion .h2ubicacion h2 {
  font-family: Titan One;
  font-size: 4rem;
  color: rgb(51, 44, 40);
}
body .gridUbicacion .mainUbicacion .ubicacion .textoUbicacion {
  padding-top: 1rem;
  width: 100%;
  font-family: Poppins regular;
  font-size: 1.8rem;
}
body .gridUbicacion .mainUbicacion .horarios {
  grid-area: horarios;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
body .gridUbicacion .mainUbicacion .mapa {
  grid-area: mapa;
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 8rem 0 8rem 0;
}
body .gridUbicacion .mainUbicacion .horarios {
  width: 40rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  line-height: 4rem;
}
body .gridUbicacion .mainUbicacion .horarios div ul {
  list-style: none;
  padding: 0;
}
body .gridUbicacion .mainUbicacion .horarios div h3 {
  font-family: Poppins extrabold;
  font-size: 2rem;
}
body .gridUbicacion .footerUbicacion {
  grid-area: footerUbicacion;
}

.mainNovedades {
  padding: 0;
  margin: 0;
}
.mainNovedades div img {
  padding-top: 5rem;
  width: 100%;
  max-width: 118rem;
}
.mainNovedades div h2 {
  font-family: Titan One;
  font-size: 4rem;
  line-height: 4rem;
  padding-left: 3rem;
  padding-top: 8rem;
}
.mainNovedades div p {
  max-width: 100%;
  width: 40rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  padding-top: 3rem;
  padding-left: 3rem;
}
.mainNovedades .fondoDeColorFormulario {
  margin-top: 5rem;
  background-color: rgb(165, 215, 213);
  height: 45rem;
  position: relative;
  left: 0.7rem;
}
.mainNovedades .fondoDeColorFormulario div {
  margin-right: 5rem;
}
.mainNovedades .fondoDeColorFormulario div h2 {
  font-family: Titan One;
  font-size: 4.5rem;
  color: rgb(51, 44, 40);
  padding: 0;
}
.mainNovedades .fondoDeColorFormulario div div p {
  width: 35rem;
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-right: 5rem;
  padding: 0;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  font-family: Poppins regular;
  font-size: 1.8rem;
  margin-right: 5rem;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar input {
  width: 29rem;
  border: none;
  box-decoration-break: clone;
  border-bottom: 1px solid rgb(51, 44, 40);
  outline: 0;
  background-color: rgb(165, 215, 213);
  font-family: Poppins regular;
  font-size: 2rem;
}
.mainNovedades .fondoDeColorFormulario .datosAllenar .submitNovedades button {
  margin-top: 2rem;
  font-family: Titan One;
  font-size: 1.9rem;
  width: 23.5rem;
  height: 4rem;
  border-style: none;
  background-color: rgb(51, 44, 40);
  border-radius: 4rem;
  color: white;
  cursor: pointer;
}

footer div div nav ul {
  padding-left: 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 25rem;
  background-color: rgb(51, 44, 40);
  position: relative;
  z-index: 4;
}
footer .navLogosDirecc {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  margin-left: 5rem;
  gap: 2rem;
}
footer .navLogosDirecc div:nth-child(3) p {
  color: white;
  font-family: Poppins regular;
  font-size: 1.8rem;
}
footer .navLogosDirecc nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}
footer .navLogosDirecc nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Poppins regular;
  font-size: 1.5rem;
}
footer .redesSociales {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}

.headerIndex .menuHamburguesa .offcanvas-end {
  background-color: rgb(51, 44, 40);
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-header button {
  scale: 150%;
  background-color: rgb(165, 215, 213);
  margin-top: 3rem;
  border-radius: 5rem;
  position: relative;
  left: 3rem;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  position: relative;
  right: 5rem;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navPaginasHamburguesa {
  display: flex;
  flex-flow: column wrap;
  margin-top: 3rem;
  flex-wrap: nowrap;
  list-style: none;
  gap: 1.8rem;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navPaginasHamburguesa li a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: white;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navBanderitas {
  display: flex;
  flex-flow: row wrap;
  scale: 80%;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0.5rem;
  gap: 1.5rem;
  margin-top: 2rem;
  list-style: none;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa .lineaMenuHamburguesa {
  background-color: white;
  height: 1px;
  width: 80%;
  position: relative;
  left: 5rem;
  top: 3rem;
}
.headerIndex .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa div {
  font-size: 1.4rem;
  font-family: Poppins regular;
  text-decoration: none;
  color: white;
  position: relative;
  left: 5rem;
  top: 3rem;
  line-height: 2.5rem;
}

.headerGenerico .menuHamburguesa .offcanvas-end {
  background-color: rgb(51, 44, 40);
  width: 30rem;
  display: flex;
  flex-flow: column nowrap;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-header button {
  scale: 150%;
  background-color: rgb(165, 215, 213);
  margin-top: 3rem;
  border-radius: 5rem;
  position: relative;
  left: 3rem;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  position: relative;
  right: 5rem;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navPaginasHamburguesa {
  display: flex;
  flex-flow: column wrap;
  margin-top: 3rem;
  flex-wrap: nowrap;
  list-style: none;
  gap: 1.8rem;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navPaginasHamburguesa li a {
  font-size: 1.8rem;
  font-family: Poppins semibold;
  text-decoration: none;
  color: white;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa nav .navBanderitas {
  display: flex;
  flex-flow: row wrap;
  scale: 80%;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0.5rem;
  gap: 1.5rem;
  margin-top: 2rem;
  list-style: none;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa .lineaMenuHamburguesa {
  background-color: white;
  height: 1px;
  width: 80%;
  position: relative;
  left: 5rem;
  top: 3rem;
}
.headerGenerico .menuHamburguesa .offcanvas-end .offcanvas-body .navHeaderHamburguesa div {
  font-size: 1.4rem;
  font-family: Poppins regular;
  text-decoration: none;
  color: white;
  position: relative;
  left: 5rem;
  top: 3rem;
  line-height: 2.5rem;
}

@media (max-width: 1200px) {
  .headerIndex div:first-child {
    margin-left: 2rem;
  }
  .headerIndex .menuHamburguesa {
    display: flex;
    margin: 0 5rem 0 5rem;
  }
  .headerIndex .navHeaderGenerico {
    display: none;
  }
  .headerGenerico div:first-child {
    margin-left: 2rem;
  }
  .headerGenerico .menuHamburguesa {
    display: flex;
    margin: 0 5rem 0 5rem;
  }
  .headerGenerico .navHeaderGenerico {
    display: none;
  }
  /* *****************INDEX**************************** */
  .mainIndex .lineaIndex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;
  }
  .mainIndex .lineaIndex2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;
  }
  /* *****************TO SIT**************************** */
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToSit {
    justify-content: center;
    margin: 5rem 2rem 0 2rem;
  }
  main .galeriaToSit div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 50rem;
  }
  main .contenedorInfoToSit {
    margin-right: 0;
    margin-top: 5rem;
    width: 75%;
    margin-bottom: 0;
  }
  main .contenedorInfoToSit .infoToSit {
    justify-content: center;
  }
  /* *****************TO GO**************************** */
  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToGo {
    justify-content: center;
    margin: 5rem 2rem 0 2rem;
    order: 1;
  }
  main .galeriaToGo div .fotosResponsive {
    width: 100%;
    max-width: 63rem;
    min-width: 50rem;
  }
  main .contenedorInfoToGo {
    margin-left: 0;
    margin-top: 5rem;
    width: 75%;
    margin-bottom: 0;
    order: 2;
  }
  main .contenedorInfoToGo .infoToGo {
    justify-content: center;
  }
  /* *****************BOOTSTRAP**************************** */
  .mainNovedades {
    padding: 0;
  }
  .mainNovedades div div h2 {
    padding-top: 2rem;
  }
  .mainNovedades .fondoDeColorFormulario div .datosAllenar {
    margin-right: 0;
  }
  /* *****************FOOTER**************************** */
  footer {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
  }
  footer .navLogosDirecc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
    margin-left: 0;
  }
  footer .navLogosDirecc div p {
    text-align: center;
  }
  footer .redesSociales {
    margin-right: 0;
  }
  .mainIndex {
    height: auto;
  }
  .mainIndex section {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
  }
  /* *****************UBICACION**************************** */
  body .gridUbicacion {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 27rem 1090px 25rem;
    grid-template-areas: "headerGenerico" "mainUbicacion" "footerUbicacion";
  }
  body .gridUbicacion .mainUbicacion {
    grid-area: mainUbicacion;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0;
    grid-template-areas: "lineaEncabezadoGrid" "ubicacion" "horarios" "mapa";
  }
  body .gridUbicacion .mainUbicacion .lineaEncabezadoGrid {
    grid-area: lineaEncabezadoGrid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: -7;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 44, 40);
    height: 1px;
    width: 93%;
    margin: 0 auto;
  }
  body .gridUbicacion .mainUbicacion .ubicacion {
    grid-area: ubicacion;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
    width: 100%;
    padding-top: 0;
  }
  body .gridUbicacion .mainUbicacion .ubicacion .h2ubicacion {
    font-family: Titan One;
    font-size: 3rem;
    color: rgb(51, 44, 40);
  }
  body .gridUbicacion .mainUbicacion .ubicacion .textoUbicacion {
    padding-top: 1rem;
    width: 100%;
    font-family: Poppins regular;
    font-size: 1.8rem;
  }
  body .gridUbicacion .mainUbicacion .horarios {
    grid-area: horarios;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: -4;
    margin-bottom: 5rem;
  }
  body .gridUbicacion .mainUbicacion .mapa {
    grid-area: mapa;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: -3;
    grid-row-end: -1;
    width: 100%;
    min-width: 50%;
    height: 100%;
    padding: 0;
    padding-bottom: 5rem;
  }
  body .gridUbicacion .mainUbicacion .horarios {
    width: 100%;
    font-family: Poppins regular;
    font-size: 1.8rem;
    line-height: 4rem;
    padding: 0;
  }
  body .gridUbicacion .mainUbicacion .horarios div ul {
    list-style: none;
  }
  body .gridUbicacion .mainUbicacion .horarios div h4 {
    font-family: Poppins extrabold;
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .mainIndex {
    background-color: rgb(165, 215, 213);
    display: flex;
    flex-flow: column wrap;
    position: relative;
    z-index: 2;
  }
  .mainIndex .bloque1 {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque1 img {
    width: 100%;
    max-width: 70rem;
    min-width: 30rem;
  }
  .mainIndex .bloque1 div {
    margin-bottom: 2rem;
  }
  .mainIndex .bloque1 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
  }
  .mainIndex .bloque1 div .buttonToSit {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 2rem;
  }
  .mainIndex .bloque1 div .buttonToSit a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .lineaIndex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 74rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;
  }
  .mainIndex .bloque2 {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    width: 100%;
    height: 85rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -3rem;
    z-index: 6;
  }
  .mainIndex .bloque2 img {
    order: 1;
    position: relative;
    top: -6rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque2 div {
    order: 2;
    position: relative;
    top: -3rem;
  }
  .mainIndex .bloque2 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque2 div .buttonToGo {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque2 div .buttonToGo a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .lineaIndex2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 155rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;
  }
  .mainIndex .bloque3 {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 5rem 0 25rem 0;
    width: 85%;
    height: 65rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque3 img {
    padding-top: -10rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque3 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque3 div .buttonNovedades {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque3 div .buttonNovedades a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  /* ***************************FOOTER***************************** */
  footer {
    height: 38rem;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
  }
  main .galeriaToSit {
    width: 53rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToSit .hijoGaleriaToSit {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToSit .hijoGaleriaToSit li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToSit .hijoGaleriaToSit li img {
    width: 100%;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    40% {
      margin-left: -100%;
    }
    45% {
      margin-left: -200%;
    }
    60% {
      margin-left: -200%;
    }
    65% {
      margin-left: -300%;
    }
    80% {
      margin-left: -300%;
    }
    85% {
      margin-left: -400%;
    }
    100% {
      margin-left: -400%;
    }
  }
  main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 5rem;
  }
  main .galeriaToGo {
    width: 53rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToGo .hijoGaleriaToGo {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToGo .hijoGaleriaToGo li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToGo .hijoGaleriaToGo li img {
    width: 100%;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    40% {
      margin-left: -100%;
    }
    45% {
      margin-left: -200%;
    }
    60% {
      margin-left: -200%;
    }
    65% {
      margin-left: -300%;
    }
    80% {
      margin-left: -300%;
    }
    85% {
      margin-left: -400%;
    }
    100% {
      margin-left: -400%;
    }
  }
  .lineaEncabezado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(51, 44, 40);
    height: 1px;
    width: 93%;
    position: relative;
    top: -3rem;
  }
  /* ***************************FOOTER***************************** */
  footer {
    height: 42rem;
  }
  /* *****************UBICACION**************************** */
  /* body {
      .gridUbicacion {       
          .mainUbicacion {
              grid-area: mainUbicacion;
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              grid-template-rows: repeat(3, 1fr);
              gap: 1.5rem;
              padding: 0;
              grid-template-areas:
              "lineaEncabezadoGrid"
              "ubicacion"
              "horarios"
              "mapa";
  .mapa {
      grid-area: mapa;
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: -4;
      grid-row-end: -1;
      width: 100%;
      height: 100%;
      padding: 0;
      padding-bottom: 5rem;    

  }}}} */
  /* *****************INDEX**************************** */
  .mainIndex .bloque1 {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    z-index: 6;
  }
  .mainIndex .bloque1 img {
    width: 100%;
    max-width: 70rem;
    min-width: 30rem;
  }
  .mainIndex .bloque1 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
  }
  .mainIndex .bloque1 div .buttonToSit {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 2rem;
  }
  .mainIndex .bloque1 div .buttonToSit a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .lineaIndex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 90%;
  }
  .mainIndex .bloque2 {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    width: 100%;
    height: 85rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -3rem;
    z-index: 6;
    margin: 0;
  }
  .mainIndex .bloque2 img {
    order: 1;
    position: relative;
    top: -6rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque2 div {
    order: 2;
    position: relative;
    top: -3rem;
  }
  .mainIndex .bloque2 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque2 div .buttonToGo {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque2 div .buttonToGo a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
  .mainIndex .lineaIndex2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .mainIndex .bloque3 {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 2rem;
    width: 85%;
    height: 82rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 6;
    margin: 0;
  }
  .mainIndex .bloque3 img {
    padding-top: -10rem;
    width: 100%;
    max-width: 70rem;
    min-width: 25rem;
  }
  .mainIndex .bloque3 div p {
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 20rem;
  }
  .mainIndex .bloque3 div .buttonNovedades {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    margin-top: 3rem;
  }
  .mainIndex .bloque3 div .buttonNovedades a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  header div:first-child .eslogan {
    display: none;
  }
  header .menuHamburguesa {
    margin: 4rem;
  }
  .lineaEncabezado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(51, 44, 40);
    height: 1px;
    width: 93%;
    position: relative;
    top: -2.5rem;
  }
  /* ***************************TO SIT***************************** */
  main .galeriaToSit {
    width: 40rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToSit .hijoGaleriaToSit {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToSit .hijoGaleriaToSit li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToSit .hijoGaleriaToSit li img {
    width: 100%;
  }
  main .contenedorInfoToSit {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToSit .infoToSit {
    justify-content: center;
    width: 25rem;
  }
  main .contenedorInfoToSit .infoToSit div img {
    width: 85%;
  }
  main .contenedorInfoToSit .infoToSit .qrToSit {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  main .contenedorInfoToSit .infoToSit .qrToSit .textoQR {
    position: relative;
    left: -2rem;
  }
  /* ***************************TO GO***************************** */
  main .galeriaToGo {
    width: 40rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToGo .hijoGaleriaToGo {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToGo .hijoGaleriaToGo li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToGo .hijoGaleriaToGo li img {
    width: 100%;
  }
  main .contenedorInfoToGo {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToGo .infoToGo {
    justify-content: center;
    width: 28rem;
  }
  main .contenedorInfoToGo .infoToGo div img {
    width: 85%;
  }
  main .contenedorInfoToGo .infoToGo .qrToGo {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  main .contenedorInfoToGo .infoToGo .qrToGo .textoQR {
    position: relative;
    left: -2rem;
  }
  /* ***************************FOOTER***************************** */
  footer {
    height: 39rem;
  }
  footer .navLogosDirecc {
    padding-top: 2rem;
  }
  footer .navLogosDirecc div {
    display: flex;
    flex-flow: none none;
    justify-content: center;
  }
  footer .navLogosDirecc div img {
    width: 80%;
  }
  footer .navLogosDirecc div:nth-child(3) p {
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
  }
  footer nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  footer nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Poppins regular;
    font-size: 1.5rem;
  }
  footer .redesSociales {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-right: 0rem;
  }
  /* ***************************MAIN INDEX***************************** */
  .mainIndex {
    width: 100%;
  }
  .mainIndex .lineaIndex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 90%;
  }
  .mainIndex .lineaIndex2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -12rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .mainIndex .bloque3 {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 2rem;
    width: 90%;
    height: 70rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: -5rem;
    z-index: 6;
  }
  .mainIndex .bloque3 img {
    position: relative;
    top: -5rem;
    width: 100%;
    max-width: 70rem;
    min-width: 33rem;
  }
  .mainIndex .bloque3 div p {
    position: relative;
    top: -5rem;
    font-family: Poppins regular;
    font-size: 1.8rem;
    width: 100%;
    max-width: 45rem;
    min-width: 15rem;
  }
  .mainIndex .bloque3 div .buttonNovedades {
    width: 25rem;
    height: 5rem;
    background-color: rgb(51, 44, 40);
    text-align: center;
    align-items: center;
    border-radius: 3rem;
    border-style: none;
    position: relative;
    top: -5rem;
  }
  .mainIndex .bloque3 div .buttonNovedades a {
    font-family: Titan One;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  .mainNovedades .fondoDeColorFormulario div {
    width: 24rem;
  }
  /* ***************************UBICACION***************************** */
  body .gridUbicacion {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 27rem 1200px 25rem;
    grid-template-areas: "headerGenerico" "mainUbicacion" "footerUbicacion";
  }
  body .gridUbicacion .mainUbicacion {
    grid-area: mainUbicacion;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0;
    grid-template-areas: "lineaEncabezadoGrid" "ubicacion" "horarios" "mapa";
  }
  body .gridUbicacion .mainUbicacion .lineaEncabezadoGrid {
    grid-area: lineaEncabezadoGrid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: -6;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 44, 40);
    height: 1px;
    width: 93%;
    margin: 0 auto;
  }
  body .gridUbicacion .mainUbicacion .ubicacion {
    grid-area: ubicacion;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    width: 100%;
    padding-top: 0;
  }
  body .gridUbicacion .mainUbicacion .ubicacion .h2ubicacion {
    font-family: Titan One;
    font-size: 3rem;
    color: rgb(51, 44, 40);
  }
  body .gridUbicacion .mainUbicacion .ubicacion .textoUbicacion {
    padding-top: 1rem;
    width: 100%;
    font-family: Poppins regular;
    font-size: 1.8rem;
  }
  body .gridUbicacion .mainUbicacion .horarios {
    grid-area: horarios;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: -4;
    margin-bottom: 5rem;
  }
  body .gridUbicacion .mainUbicacion .mapa {
    grid-area: mapa;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -3;
    grid-row-end: -1;
    width: 100%;
    min-width: 50%;
    height: 100%;
    padding: 0;
    padding-bottom: 5rem;
  }
  body .gridUbicacion .mainUbicacion .horarios {
    width: 100%;
    font-family: Poppins regular;
    font-size: 1.7rem;
    line-height: 4rem;
  }
  body .gridUbicacion .mainUbicacion .horarios div ul {
    list-style: none;
  }
  body .gridUbicacion .mainUbicacion .horarios div h4 {
    font-family: Poppins extrabold;
    font-size: 1.4rem;
  }
}
@media (max-width: 425px) {
  main .galeriaToGo {
    width: 30rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToGo .hijoGaleriaToGo {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToGo .hijoGaleriaToGo li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToGo .hijoGaleriaToGo li img {
    width: 100%;
  }
  main .contenedorInfoToGo {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToGo .infoToGo {
    justify-content: center;
    width: 22rem;
  }
  main .contenedorInfoToGo .infoToGo div img {
    width: 85%;
  }
  main .contenedorInfoToGo .infoToGo .qrToGo {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  main .contenedorInfoToGo .infoToGo .qrToGo .textoQR {
    position: relative;
    left: -2rem;
  }
  main .galeriaToSit {
    width: 30rem;
    height: 100%;
    margin: 3rem;
    overflow: hidden;
    display: block;
  }
  main .galeriaToSit .hijoGaleriaToSit {
    display: flex;
    padding: 0;
    animation: cambio 11s infinite alternate linear;
    width: 500%;
  }
  main .galeriaToSit .hijoGaleriaToSit li {
    width: 100%;
    list-style: none;
  }
  main .galeriaToSit .hijoGaleriaToSit li img {
    width: 100%;
  }
  main .contenedorInfoToSit {
    margin-right: 0;
    margin-top: 3rem;
    width: 100%;
  }
  main .contenedorInfoToSit .infoToSit {
    justify-content: center;
    width: 22rem;
  }
  main .contenedorInfoToSit .infoToSit div img {
    width: 85%;
  }
  main .contenedorInfoToSit .infoToSit .qrToSit {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  main .contenedorInfoToSit .infoToSit .qrToSit .textoQR {
    position: relative;
    left: -2rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
