body {
    .gridUbicacion {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 27rem 1027px 25rem;
        grid-template-areas:
            "headerGenerico"
            "mainUbicacion"
            "footerUbicacion";

        .headerGenerico {
            grid-area: headerGenerico;
            width: 100%;
            height: 27rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
        }

        .mainUbicacion {
            grid-area: mainUbicacion;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1.5rem;

            .lineaEncabezadoGrid {
                grid-area: lineaEncabezadoGrid;
                grid-column-start: 1;
                grid-column-end: 13;
                grid-row: 1;
                @include flex-row-wrap;
                background-color: $backgroundGrey;
                height: 1px;
                width: 93%;
                margin: 0 auto;
            }

            .ubicacion {
                grid-area: ubicacion;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                padding: 8rem 0 0 0;
                width: 100%;

                .h2ubicacion {
                    h2 {
                        font-family: Titan One;
                        font-size: 4rem;
                        color: rgba(51, 44, 40, 1);
                    }

                }

                .textoUbicacion {
                    padding-top: 1rem;
                    width: 100%;
                    font-family: Poppins regular;
                    font-size: 1.8rem;
                }
            }

            .horarios {
                grid-area: horarios;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;

            }

            .mapa {
                grid-area: mapa;
                grid-column-start: 5;
                grid-column-end: 11;
                grid-row-start: 1;
                grid-row-end: 4;
                padding: 8rem 0 8rem 0;
            }

            .horarios {
                width: 40rem;
                font-family: Poppins regular;
                font-size: 1.8rem;
                line-height: 4rem;
            }

            .horarios div ul {
                list-style: none;
                padding: 0;

            }

            .horarios div h3 {
                font-family: Poppins extrabold;
                font-size: 2rem;
            }
        }

        .footerUbicacion {
            grid-area: footerUbicacion;

        }
    }
}