main{
    @include flex(flex,row nowrap);
    justify-content: center;
    width: 100%;
    .galeriaToSit{
        @include flex(flex,row nowrap);
        align-items: center;
        margin: 5rem 5rem 5rem 8rem;
        gap: 1rem;
    }
    .contenedorInfoToSit{
        @include flex(flex,column nowrap);
        width: 100%;
        max-width: 65rem;
        justify-content: space-between;
        align-items: center;
        margin-right: 20rem;
        margin-top: 8rem;
        margin-bottom: 5rem; 
        .infoToSit{
            width: 100%;
            div{
                .logoToSit{
                    margin-bottom: 3rem;                    
                }
            }            
            div{
                p{
                    font-family: Poppins regular;
                    font-size: 1.8rem;  
                    margin-bottom: 5rem;
                    width: 100%;
                                      
                }
            }
        }
        .qrToSit{
            @include flex(flex,row nowrap);
            align-items: center;
            margin-bottom: 3rem; 
            div{
                .qr{
                    width: 100%;
                    min-width: 15rem;
                    max-width: 18.5rem;
                                       
                }
            }
            div{
                h3{
                    font-family:Poppins extrabold;
                    font-size: 1.8rem;
                    padding-left: 3rem;
                }
            }
        }
    }
}