main {
    @include flex(flex, row nowrap);
    justify-content: center;
    width: 100%;

    .galeriaToSit {
        max-width: 62.8rem;
        min-width: 30rem;
        height: 100%;
        margin: 5rem;
        overflow: hidden;
        display: block;

        .hijoGaleriaToSit {
            display: flex;
            padding: 0;
            animation: cambio 10s infinite alternate linear;
            width: 500%;

            li {
                width: 100%;
                list-style: none;

                img {
                    width: 62.8rem;
                    height: 100%;

                }
            }
        }
    }

    @keyframes cambio {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        40% {
            margin-left: -100%;
        }

        45% {
            margin-left: -200%;
        }

        60% {
            margin-left: -200%;
        }

        65% {
            margin-left: -300%;
        }

        80% {
            margin-left: -300%;
        }

        85% {
            margin-left: -400%;
        }

        100% {
            margin-left: -400%;
        }
    }
}

.contenedorInfoToSit {
    @include flex(flex, column nowrap);
    width: 100%;
    max-width: 65rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 15rem;
    margin-top: 8rem;
    margin-bottom: 5rem;

    .infoToSit {
        width: 100%;

        div {
            .logoToSit {
                margin-bottom: 3rem;
            }
        }

        div {
            p {
                font-family: Poppins regular;
                font-size: 1.8rem;
                margin-bottom: 5rem;
                width: 100%;

            }
        }
    }

    .qrToSit {
        @include flex(flex, row nowrap);
        align-items: center;
        margin-bottom: 3rem;

        div {
            .qr {
                width: 100%;
                min-width: 15rem;
                max-width: 18.5rem;

            }
        }

        div {
            h3 {
                font-family: Poppins extrabold;
                font-size: 1.8rem;
                padding-left: 3rem;
            }
        }
    }
}