@media(max-width:576px) {
    header {
        div:first-child {
            .eslogan {
                display: none;
            }
        }

        .menuHamburguesa {
            margin: 4rem;
        }
    }

    .lineaEncabezado {
        @include flex-row-wrap;
        margin: 0 auto;
        background-color: $backgroundGrey;
        height: 1px;
        width: 93%;
        position: relative;
        top: -2.5rem;
    }

    /* ***************************TO SIT***************************** */
    main {
        .galeriaToSit {
            width: 40rem;
            height: 100%;
            margin: 3rem;
            overflow: hidden;
            display: block;

            .hijoGaleriaToSit {
                display: flex;
                padding: 0;
                animation: cambio 11s infinite alternate linear;
                width: 500%;

                li {
                    width: 100%;
                    list-style: none;

                    img {
                        width: 100%;


                    }
                }
            }
        }

        .contenedorInfoToSit {
            margin-right: 0;
            margin-top: 3rem;
            width: 100%;

            .infoToSit {
                justify-content: center;
                width: 25rem;

                div {
                    img {
                        width: 85%;
                    }
                }

                .qrToSit {
                    @include flex(flex, column nowrap);
                    gap: 1rem;

                    .textoQR {
                        position: relative;
                        left: -2rem;
                    }
                }
            }
        }
    }

    /* ***************************TO GO***************************** */
    main {
        .galeriaToGo {
            width: 40rem;
            height: 100%;
            margin: 3rem;
            overflow: hidden;
            display: block;

            .hijoGaleriaToGo {
                display: flex;
                padding: 0;
                animation: cambio 11s infinite alternate linear;
                width: 500%;

                li {
                    width: 100%;
                    list-style: none;

                    img {
                        width: 100%;


                    }
                }
            }
        }

        .contenedorInfoToGo {
            margin-right: 0;
            margin-top: 3rem;
            width: 100%;

            .infoToGo {
                justify-content: center;
                width: 28rem;

                div {
                    img {
                        width: 85%;
                    }
                }

                .qrToGo {
                    @include flex(flex, column nowrap);
                    gap: 1rem;

                    .textoQR {
                        position: relative;
                        left: -2rem;
                    }
                }
            }
        }
    }


    /* ***************************FOOTER***************************** */
    footer {
        height: 39rem;

        .navLogosDirecc {
            padding-top: 2rem;

            div {
                @include flex(flex, none none);
                justify-content: center;

                img {
                    width: 80%;
                }
            }

            div:nth-child(3) {
                p {
                    color: white;
                    font-family: Poppins regular;
                    font-size: 1.5rem;
                }
            }
        }

        nav {
            ul {
                @include flex-row-wrap;
                list-style: none;
                gap: 1rem;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-family: Poppins regular;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .redesSociales {
            @include flex(flex, row wrap);
            gap: 2rem;
            margin-right: 0rem;
        }
    }

    /* ***************************MAIN INDEX***************************** */
    .mainIndex {
        width: 100%;

        .lineaIndex {
            @include flex-row-wrap;
            position: relative;
            top: 2rem;
            z-index: 4;
            background-color: white;
            height: 2px;
            margin: 0;
            width: 90%;
        }

        .lineaIndex2 {
            @include flex-row-wrap;
            position: relative;
            top: -12rem;
            z-index: 4;
            background-color: white;
            height: 2px;
            margin: 0;
            padding: 0;
            width: 90%;
        }

        .bloque3 {
            @include flex(flex, column nowrap);
            background-color: white;
            padding: 2rem;
            width: 90%;
            height: 70rem;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            position: relative;
            top: -5rem;
            z-index: 6;

            img {
                position: relative;
                top: -5rem;
                width: 100%;
                max-width: 70rem;
                min-width: 33rem;
            }

            div {
                p {
                    position: relative;
                    top: -5rem;
                    font-family: Poppins regular;
                    font-size: 1.8rem;
                    width: 100%;
                    max-width: 45rem;
                    min-width: 15rem;
                }

                .buttonNovedades {
                    width: 25rem;
                    height: 5rem;
                    background-color: rgba(51, 44, 40, 1);
                    text-align: center;
                    align-items: center;
                    border-radius: 3rem;
                    border-style: none;
                    position: relative;
                    top: -5rem;

                    a {
                        font-family: Titan One;
                        text-decoration: none;
                        color: white;
                        font-size: 2rem;
                    }
                }
            }
        }
    }


.mainNovedades {
    .fondoDeColorFormulario {
        div {
            width: 24rem;
        }

    }}

    /* ***************************UBICACION***************************** */
    body {
        .gridUbicacion {
            display: grid;
            width: 100%;
            height: 100vh;
            grid-template-columns: 1fr;
            grid-template-rows: 27rem 1200px 25rem;
            grid-template-areas:
                "headerGenerico"
                "mainUbicacion"
                "footerUbicacion";

            .mainUbicacion {
                grid-area: mainUbicacion;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 1.5rem;
                padding: 0;
                grid-template-areas:
                    "lineaEncabezadoGrid"
                    "ubicacion"
                    "horarios"
                    "mapa";

                .lineaEncabezadoGrid {
                    grid-area: lineaEncabezadoGrid;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row: -6;
                    @include flex-row-wrap;
                    background-color: $backgroundGrey;
                    height: 1px;
                    width: 93%;
                    margin: 0 auto;
                }

                .ubicacion {
                    grid-area: ubicacion;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row: 1;
                    width: 100%;
                    padding-top: 0;

                    .h2ubicacion {
                        font-family: Titan One;
                        font-size: 3rem;
                        color: rgba(51, 44, 40, 1);
                    }

                    .textoUbicacion {
                        padding-top: 1rem;
                        width: 100%;
                        font-family: Poppins regular;
                        font-size: 1.8rem;
                    }
                }

                .horarios {
                    grid-area: horarios;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row: -4;
                    margin-bottom: 5rem;

                }

                .mapa {
                    grid-area: mapa;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: -3;
                    grid-row-end: -1;
                    width: 100%;
                    min-width: 50%;
                    height: 100%;
                    padding: 0;
                    padding-bottom: 5rem;
                }

                .horarios {
                    width: 100%;
                    font-family: Poppins regular;
                    font-size: 1.7rem;
                    line-height: 4rem;

                }

                .horarios div ul {
                    list-style: none;
                }

                .horarios div h4 {
                    font-family: Poppins extrabold;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
