.lineaEncabezado{
    @include flex-row-wrap;
    margin: 0 auto;       
    background-color: $backgroundGrey;
    height: 1px;    
    width: 93%;    
}
.lineaIndex{
    @include flex-row-wrap;
    position: absolute;
    top: 65rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;    
}
.lineaIndex2{
    @include flex-row-wrap;
    position: absolute;
    top: 110rem;
    z-index: 4;
    background-color: white;
    height: 2px;
    margin: 0;
    width: 93%;    
}

