.lineaEncabezado{
    @include flex-row-wrap;
    hr{    
    border-style: none;
    background-color: rgba(51, 44, 40, 1);
    height: 1px;
    width: 93%;    
    }
}
.lineaIndex{
    @include flex-row-wrap;    
    hr{ 
    position: absolute;
    z-index: 4;    
    border-style: none;
    background-color: white;
    height: 1.1px;
    width: 93%;    
    }
}